.container {
	width: 100vw;
	height: 100vw;
}

.l-row {
	display: flex;
	flex-direction: row;
}

.l-column {
	display: flex;
	flex-direction: column;
}
.l-center {
	align-items: center;
	// justify-content: center;
}
.l-space-between {
	justify-content: space-between;
}

.l-custom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

@media screen and (min-width: 480px) {
	.container {
		height: 100vh;
	}
}

@media screen and (min-width: 768px) {
	.container {
		height: 70vw;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		height: 100vh;
	}

	.l-custom {
		padding-top: 15%;
		padding-left: 10%;
		align-items: left;
		justify-content: flex-start;
	}
}


// iPad Pro
@media (min-height: 1366px) and (min-width: 1024px) {
	.container {
		height: 50vw;
	}
}





